form {
    margin: auto;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

form > div {
    padding: 0.2em;
}

.form {
    background: linear-gradient(#000 , #023);
    padding-bottom: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top:1em;
}
.btn  {
    padding: 1em;
    margin:auto;
    width: 100%;margin-top: 2em;
    background: rgba(0, 0, 0, 0);
    border: 0.1em solid;
    color:white;cursor: pointer;transition: all 0.3s ease-in;
}
.btn:hover {
    border:0.5em solid;
    border-radius: 3px;
}
.form label {
    color:white
}

form input , form select  {
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
 
}
form select {
    box-sizing: border-box;
    border: 0.1px solid;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}