table {
    width: 60%;
    margin:auto    

}
table th,table td {
    padding: 1em; 
    width: 100%;
    text-align: center;
}
table th {
    border-bottom: 0.1em solid;
}
table td {
    border-bottom: 0.01em solid;
}
.text-center {
    text-align: center;
}
.div-calculor-years {
    display: flex;
    width:40%;
    margin:auto;
    justify-content: space-between;
}
.div-calculor-years > div  > input {
    width:100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1em;
    border-radius: 3px;
    box-sizing: border-box;
} 
.div-calculor-years > div {

    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1); 
    padding: 1em;
}