table {
    width: 60%;
    margin:auto    

}
table th,table td {
    padding: 1em; 
    width: 100%;
    text-align: center;
}
table th {
    border-bottom: 0.1em solid;
}
table td {
    border-bottom: 0.01em solid;
}
.text-center {
    text-align: center;
}